<h1>Test</h1>
<h2>Usage:</h2>
<ul>
    <li>
        <h3>API 1.</h3>
        <div>Accept up to 2 input parameters, name and surname. There are two possible requests to make:</div>
        <div><a href='http://localhost:5200/api/capitalize/marco/rossi'>Example 1: /api/capitalize/marco/rossi</a>  </div>
        <div><a href='http://localhost:5200/api/capitalize?name=marco&surname=rossi'>Example 2: /api/capitalize?name=marco&surname=rossi</a>  </div>
    </li>
    <li>
        <h3>API 2.</h3>
        <div>Received an array as input, the API returns the sum of all numbers that compose it.</div>
        <div><a href='http://localhost:5200/api/sum?array=1&array=2&array=3&array=4'>Example: /api/sum?array=1&array=2&array=3&array=4</a>  </div>
    </li>
    <li>
        <h3>API 3.</h3>
        <div>Received an array as input, the API returns the array received as input without duplicates</div>
        <div><a href='http://localhost:5200/api/unique?array=1&array=2&array=3&array=1&array=3&array=marco&array=2&array=marco'>Example: /api/unique?array=1&array=2&array=3&array=1&array=3&array=marco&array=2&array=marco</a>  </div>
    </li>
</ul>